{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        {% trans %}Choose the exercise to begin a set{% endtrans %}
        <div class="links">
            {% for row in grid %}
                <a href="{{ path('day_exercise', {'day_id': day.dayId, 'training_id':day.getTrainingId.getTrainingId, 'exrcise_id':row.getExerciseId}) }}">{{ row.getExerciseName }}</a>
            {% else %}
                {% trans %}No exercises have been found{% endtrans %}.
            {% endfor %}
        </div>
        <a href="{{ path('training_finish', {'day_id': day.dayId}) }}">{% trans %}Close training day{% endtrans %}</a><br>
        <a href="/">{% trans %}Back{% endtrans %}</a>
    </div>
{% endblock %}