{% extends 'base.html.twig' %}
{% block title %}{% trans %}Training is finished{% endtrans %}!{% endblock %}
{% block body %}
    <div class="container">
        <div class="card margin">
            <div class="card-header">
                <h2>{% trans %}Training is finished{% endtrans %}!</h2>
            </div>
            <div class="card-body">
                {% if message is defined %}
                    {{ message }}
                {%  endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <a href="{{ path('auth') }}" class="margin btn btn-secondary btn-block">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}