{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="example-wrapper">
        {% trans %}Training id finished!{% endtrans %}
        {% if message is defined %}
            {{ message }}
        {%  endif %}

        <a href="{{ path('day') }}">{% trans %}Back{% endtrans %}</a>
    </div>
{% endblock %}