{% extends 'base.html.twig' %}
{% block title %}{% trans %}Training day{% endtrans %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans %}Choose the training to begin an exercise{% endtrans %}</h4>
                </div>
                <div class="card-body" style="word-break: break-all;">
                    {% for row in grid %}
                        <div class="row">
                            <div class="margin col">
                                <a href="{{ path('day_started', {'training_id': row.getTrainingId}) }}"
                                   class="btn btn-lg btn-success btn-block"
                                   role="button">{{ row.getTrainingName }}</a>
                            </div>
                        </div>
                    {% else %}
                        {% trans %}No trainings have been found{% endtrans %}.
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <a href="/" class="margin btn btn-secondary btn-block">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>

    </div>
{% endblock %}