{% extends 'base.html.twig' %}

{% block title %}{% trans %}Exercises{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        {% if exercise is defined  %}
            <div class="row">
                <div class="col"></div>
                <div class="col"><h2 style="text-align: center">{% trans %}Exercise{% endtrans %}</h2></div><div class="col"></div>
            </div>
            <div class="card ">
                <div class="card-header">
                    {{ exercise.getExerciseName }}
                </div>
                <div class="card-body text-white bg-dark mb-3">
                    {{ exercise.getDescription }}
                </div>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <a href="#" class="margin btn btn-secondary btn-block" onclick="history.back();return false;">{% trans %}Back{% endtrans %}</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger btn-block" data-toggle="modal" data-target="#exampleModal">
                    {% trans %}Delete exercise{% endtrans %}
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% trans %}Deleting{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% trans %}Are u sure{% endtrans %}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">{% trans %}Leave{% endtrans %}</button>
                    <a href="{{ path('exercise_delete', { 'id' : exercise.getExerciseId }) }}" type="button" class="btn btn-danger">{% trans %}Delete{% endtrans %}?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
