{% extends 'base.html.twig' %}

{% block title %}{% trans %}Exercises{% endtrans %}{% endblock %}

{% block body %}
    <div class="center-block">
        {% if exercise is defined  %}
            <h3>{% trans %}Exercise{% endtrans %}</h3>
            {% trans %}Exercise name{% endtrans %}: {{ exercise.getExerciseName }}
            <br/>
            {% trans %}Description{% endtrans %}:
                {{ exercise.getDescription }}

        {% endif %}
    </div>

    <a href="#" onclick="history.back();return false;">Назад</a>
{% endblock %}
