{% extends 'base.html.twig' %}

{% block title %}{% trans %}Exercises{% endtrans %}{% endblock %}

{% block body %}
    <div class="center-block">
        {% if id is defined  %}
            {% trans %}Exercise{% endtrans %} #{{ id }}
        {% endif %}
    </div>
{% endblock %}
