<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>{% block title %}MyTrainer{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body style="background: #868686">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <br/>
    <br/>
    <br/>
    <a href="http://localhost{{ path('logout') }}">X</a>
    </body>
</html>
