{% extends 'base.html.twig' %}

{% block title %}{% trans %}Menu{% endtrans %}{% endblock %}

{% block body %}

    <div>
        <ul><a href="{{ path('trainings') }}">{% trans %}Trainings{% endtrans %}</a></ul>
    </div>

{% endblock %}
